{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
 {% block css %}

<link href="{% static 'shop/css/productdetail.css' %}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block body %}
<!-- page -->
<main>
  <div class="container">
    <div class="grid second-nav">
      <div class="column-xs-12">
        <nav>
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="#">Product</a></li>
            <li class="breadcrumb-item"><a href="#">{{product.category}}</a></li>
            <li class="breadcrumb-item active"> {{product.subcategory}}</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="{{product.image.url}}">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="{{product.image.url}}"></li>
            <li class="image-item"><img src="{{product.image.url}}"></li>
            <li class="image-item"><img src="{{product.image.url}}"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>{{product.name}}</h1>
        <h4><del>{{product.price}} VND</del>          {{product.discount_price}} VND</h4>
        <div class="description">
          <p style="color:black;">Mô tả: {{product.description}}</p>
            <p style="color:black;"> Tổng số lượt đánh giá :{{ product.review_set.count }} lượt </p>
            <p style="color:black;"> Average Rating: {{ product.average_rating | floatformat }} </p>
			<!-- <p style="color:black;"> Lần cập nhật gần nhất : {{product.updated}}</p> -->
          <p style="color:black;"> Kho hàng hiện còn : {{product.stock}} sản phẩm </p>
        </div>
            <div class="product-btns">

                <form action="/order/addtocart/{{ product.id }}" method="post">
                    {% csrf_token %}
                    <div class="qty-input">
                        <input type="number" name="quantity" id="id_quantity" value="1" min="1" max="{{product.stock}}" class="input">
                    </div>
                    <input type="submit" class="add-to-cart" value="Add to Cart">
                </form>

            </div>

      </div>
    </div>
    <!-- <div class="grid related-products"> -->
      <div class="column-xs-12">
        <h3> Bạn có thể thích  </h3>
      </div>
      <div class="product-wrapper">
      {% if product_list %}

		{% for product in product_list %}
    <div class="product-item" style="width: 25%; float: left; padding: 0 15px; box-sizing: border-box;">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="{% url 'shop:product_detail' product.id %}">
                        <img  src="{{ product.image.url }}" 
                        alt="{{ product.name }}"  
                        class="img-fluid"  
                        style="object-fit: cover; width: 100%; height: 200px;">
                    
                    </a>
                    <ul class="social">
                        <li><a href="{% url 'shop:product_detail' product.id %}" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
						
                    </ul>
                    <a class="add-to-cart" href=""> Thêm vào giỏ hàng </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="{% url 'shop:product_detail' product.id %}">{{ product.name|truncatechars:20 }}
        </a></h3>
					<h3 class="title">{{ product.review_set.count }} Reviews</h3>
					<h3 class="title">{{ product.average_rating | floatformat }} Average Rating</h3>
                    <span class="price">{{product.price}} .VND </span>
                </div>
            </div>

        </div>
	{% endfor %}
</a>
{% else %}
    <p> Hiện không có sản phẩm nào </p>
{% endif %}
</div>

    <!-- </div> -->

    </div>
  </div>
</main>



{% if product.review_set.all %}
	<div class="comments-container">
		<h1>Recent reviews </h1>
		{% for review in product.review_set.all %}
		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar"><img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" alt="{{ review.user.username }}"> </div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author">{{ review.user_name}}</h6>
							<span>{{review.pub_date}}</span>
							<i class="fa fa-reply"></i>
							<i class="fa fa-heart"></i>
						</div>
						<div class="comment-content"><b>Rated {{ review.rating }} of 5 by {{ review.user_name }}</b></div>
						<div class="comment-content">
							{{ review.comment }}
						</div>
						<a href="{% url 'shop:review_detail' review.id %}">
        Read more
        </a>
					</div>
				</div>
			</li>
		</ul>
    {% endfor %}
</div>
{% else %}
<p> Hiện chưa có đánh giá nào cho sản phẩm </p>
{% endif %}


<div class="comments-container">
	<h1> Đánh Giá </h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'shop:add_review' product.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}

    {% buttons %}

    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Xác Nhận
    </button>
    {% endbuttons %}
</form>
{% endblock %}

</div>
