{% extends 'base.html' %}
{% load static markdown_deux_tags %}

<head>
    {% block css %}
    <link href="{%static 'profiles/css/profiles.css' %}" rel="stylesheet">
      {% endblock %}
      </head>
{% block body %}

<main class="container">
    <div class="profile">
        <div class="profile-image">

                    {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="{{ profile.first_name }} {{ profile.last_name }}" width="80%" height="80%">
                    {% else %}
                        <div class="placeholder-avatar"></div>
                    {% endif %}
                </div>
                <div class="profile-user-settings">
                    <a href="{{ profile.get_absolute_url }}">  <h5 class="profile-user-name" style="color:black; "><b>{{ profile.first_name }} {{ profile.last_name }}</b></h5></a>

                <button class="btn btn-outline-primary" >
                  <a href="{% url 'profiles:edit-profile' profile.slug %}">Edit <i class="fas fa-cog" aria-hidden="true"></i></a>
                </button>
                 <button class="btn btn-outline-primary"> <a href="{% url 'profiles:change-password' profile.slug %}" class="button">Change Password</a></button>


                  </div>

                  <div class="profile-stats">
                    </h2>
                    <p style="color:black">{{ profile.email }}{% if profile.city %}| {{ profile.city }} {% endif %}| {% if profile.country_of_residence %}
                               {{ profile.country_of_residence }}</p>
                          {% endif %}</p>

                      <ul>
                          <li><span class="profile-stat-count"> Ngày sinh :</span>{{ profile.date_of_birth }} </li>
                         {% if profile.hobby %}

                          <li><span class="profile-stat-count"> Sở thích :</span>  {{ profile.hobby }}</li>
                         {% endif %}
                      </ul>

                  </div>
                  <div class="profile-bio">
                    {{ profile.display_bio|markdown }}
                      </p>


                  </div>

              </div>
              <!-- End of profile section -->

          </div>
          <!-- End of container -->


</main>

{% if profiles %}
    {% for profile in profiles %}
        <div class="profile-item">
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="Avatar của {{ profile.first_name }} {{ profile.last_name }}" class="img-fluid rounded-circle" loading="lazy">
            {% endif %}
            <a href="{{ profile.get_absolute_url }}"><h1>{{ profile.first_name }} {{ profile.last_name }}</h1></a>
            <div class="profile-item-buttons">
                <a href="{% url 'profiles:edit-profile' profile.slug %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'profiles:change-password' profile.slug %}" class="btn btn-outline-secondary">Change Password</a>
            </div>
        </div>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}
