{% extends 'base.html' %}
{% load static %}
{% block title %} Shop Cart List{% endblock %}
{% block css %}
<link href="{%static 'shop/css/shoppingcart.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="wrap cf">
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="{% url 'shop:index' %}" class="continue"> Tiếp tục mua sắm </a>
  </div>
  <div class="cart">
    <ul class="cartWrap">
        {% for rs in shopcart %}
      <li class="items even">
    <div class="infoWrap">
        <div class="cartSection">
        <img src="{{rs.product.image.url}}" alt="" class="itemImg" />
          <p class="itemNumber">  </p>
          <h3>{{rs.product.name}}</h3>

           <p> <input type="text"  class="qty" placeholder="{{rs.quantity}}"/>   <del>{{rs.product.price}}</del> {{ rs.product.discount_price }} VND </p>

        </div>

        <div class="prodTotal cartSection">
          <p class="stockStatus">= {{ rs.amount }} VND </p>
        </div>
              <div class="cartSection removeWrap">
           <a href="/order/deletefromcart/{{ rs.id }}" class="remove">x</a>
        </div>
      </div>
      </li>
        {% endfor %}


    </ul>
  </div>

  <div class="promoCode"><label for="promo"> Nhập mã để được giảm 90% </label><input type="text" name="promo" placholder="Enter Code" />
  <a href="#" class="btn"></a></div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label"> Giá trị </span><span class="value">{{ carttotal }} </span></li>

          <li class="totalRow"><span class="label"> Phí vận chuyển </span><span class="value">Free</span></li>

            <li class="totalRow"><span class="label"> Thuế 10% </span><span class="value">{{carttax}}</span></li>
            <li class="totalRow final"><span class="label"> Tổng thanh toán </span><span class="value">{{cartwithtax }}</span></li>
      <li class="totalRow"><a href="/order/checkout" class="btn continue"> Thanh Toán </a></li>
    </ul>
  </div>
</div>
{% endblock %}
